<!-- Encabezado / Menú -->
<header>
  <nav>
    <div class="container-title">
      <img src="assets/Logo Vanidosa.jpg" alt="Logo Vanidosa">
    <h1>Vanidosa</h1>
    </div>
    <ul class="menu">
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li><a href="#testimonios">Testimonios</a></li>
    </ul>
  </nav>
</header>

<!-- Sección principal: Hero -->
<section id="inicio" class="hero">
  <h2>Resalta tu belleza con uñas únicas y Peinados unicos</h2>
  <div class="galeria-grid">
    <ul class="container">
      <li *ngFor="let servicio of listaSlides">
        <img [src]="servicio.img" alt="ServicioImg">
      </li>
    </ul>

  </div>
</section>

<!--Servicios-->
<section id="servicios">
  <h1>Nuestros servicios</h1>
  <ul class="servicio" *ngFor="let servicio of listaSlides">
    <li>
      <div>
        <span>
          <h2>{{servicio.Title}}</h2>
        </span>
        <div class="container-img">
          <img [src]="servicio.img" [alt]="servicio.alt">
        </div>
        <br>
        <p>{{servicio.Description}}</p>
      </div>
    </li>
  </ul>
</section>
<!--Fin seccion de Servicios-->

<!-- contacto -->
<section id="contacto">
  <p>Agenda tu cita y transforma tu estilo con diseños exclusivos.</p>
    <button class="button-testimonios" (click)="avanzarCitas()">Reservar ahora</button>
  <p>O escríbenos al WhatsApp: <a href="https://wa.me/573168108854?text=Hola%20quiero%20agendar%20mi%20cita">+57 316 810 8854</a></p>
</section>
<!-- Fin seccion de contacto -->


<!-- Testimonios -->
 <section id="testimonios">   
<ngx-slick-carousel class="carrousel" #slickModal="slick-carousel" [config]="slideConfig">
      <div ngxSlickItem *ngFor="let test of listaTestimonios" >
        <div class="testimonio">
          <blockquote>
        <p>{{ test.texto }}</p>
        <h4>- {{ test.cliente }}</h4>
        </blockquote>
        </div>
      </div>
    </ngx-slick-carousel>
    </section>
<!-- Fin seccion de Testimonios -->

<!-- Footer -->
<footer>
  <p>&copy; 2025 Vanidosa Nails. Todos los derechos reservados.</p>
  <p>Síguenos en
    <a href="#">Instagram</a> |
    <a href="#">Facebook</a>
  </p>
</footer>
<!--Fin Footer -->