<!-- Inicio de la header -->
<header>
  <nav>
    <div class="container-title">
      <img src="assets/Logo Vanidosa.jpg" alt="Logo Vanidosa">
    <h1>Vanidosa</h1>
    </div>
    <ul class="menu">
      <li><a href="#servicios">Servicios</a></li>
      <li><a href="#contacto">Contacto</a></li>
      <li><a href="#testimonios">Testimonios</a></li>
    </ul>
  </nav>
</header>
<!-- Fin de la header -->

<!-- Inicio de la sección de citas -->
<div class="page-citas">
<div class="contenedor-citas">
    <h2>!Reserva tu cita¡</h2>
    <form action="">
        <label for="">Nombre</label>
        <input type="text" placeholder="Ingresa tu nombre" required>
        <label for="">Correo</label>
        <input type="email" placeholder="Ingresa tu correo" required>
        <label for="">Teléfono</label>
        <input type="tel" placeholder="Ingresa tu teléfono" required>
        <label for="">Fecha</label>
        <input type="date" placeholder="Selecciona una fecha" required>
        <label for="">Servicio</label>
        <select required>
            <option value="" disabled selected>Selecciona un servicio</option>
            <option value="uñas">Uñas</option>
            <option value="peinados">Peinados</option>
            <option value="maquillaje">Maquillaje</option>
        </select>
        <button type="submit">Reservar cita</button>
    </form>
</div>
</div>

<!-- Inicio de la footer -->
<footer>
  <p>&copy; 2025 Vanidosa Nails. Todos los derechos reservados.</p>
  <p>Síguenos en
    <a href="#">Instagram</a> |
    <a href="#">Facebook</a>
  </p>
</footer>
<!-- Fin de la footer -->